{% extends "proj/projbase.html.twig" %}

{% block title %}Poker Squares 2000 - Highscores{% endblock %}

{% block article %}
<article class="name-input"> 
<div class="start">
<h1>Highscores!</h1>

<h2>Players</h2>

{% set rank = 1 %}
<table class="highscore">
<tr>
    <th>Rank</th>
    <th>Name</th>
    <th>Balance</th>
    <th>More</th>
</tr>
{% for player in players %}
<tr>
    <td>{{ rank }}
    <td>{{ player.name }}</td>
    <td>{{ player.balance }}</td>
    <td><a href="{{ path('player', {'name': player.name }) }}" class="button">Details</a></td>
</tr>
{% set rank = rank + 1 %}
{% endfor %}
</table>
<h2>Games</h2>

{% set rank = 1 %}
<table class="highscore">
<tr>
    <th>Rank</th>
    <th>Id</th>
    <th>Player</th>
    <th>Bet</th>
    <th>Winnings</th>
    <th>Score</th>
    <th>Status</th>
    <th>Continue?</th>
</tr>

{% for game in games %}
<tr>
    <td>{{ rank }}</td>
    <td>{{ game.id }}</td>
    <td>{{game.playerId.name}}</td>
    <td>{{ game.bet }}</td>
    <td>{{ game.winnings }}</td>
    <td>{{ game.americanScore }}, {{ game.britishScore }}</td>
    {% if game.finished %}
    <td> Finished: {{ game.finished|date('Y-m-d') }} </td>
    {% else %}
    <td> Last played: {{ game.savedDate|date('Y-m-d') }} </td>
    {% endif %}
    <td><form action={{path('load')}} method="POST">
    <input hidden name="id" id="id" value="{{ game.id }}">
    <input class="button" type="submit" 
    {% if game.finished %} value="View" {% else %} value="Continue" {% endif %}>
    </form></td>
</tr>
{% set rank = rank + 1 %}
{% endfor %}
</table>
</div>
</article>
{% endblock %}