{% extends "proj/projbase.html.twig" %}

{% block title %}Poker Squares 2000 - Highscores{% endblock %}

{% block article %}
<article class="name-input"> 
<div class="start">
<h1>{{player.name}}'s page!</h1>
<h3>Balance: {{player.balance}}$</h3>
<h3>Games started: {{ games|length }}
<h2>Games</h2>

<table class="highscore">
<tr>
    <th>Id</th>
    <th>Bet</th>
    <th>Winnings</th>
    <th>Score</th>
    <th>Status</th>
    <th>Continue?</th>
</tr>

{% for game in games %}
<tr>
    <td>{{ game.id }}</td>
    <td>{{ game.bet }}</td>
    <td>{{ game.winnings }}</td>
    <td>{{ game.americanScore }}, {{ game.britishScore }}</td>
    <td>{% if game.finished %} Finished: {{ game.finished }}
        {% else %} Last played: {{ game.savedDate|date('Y-m-d') }} {% endif %}
    </td>
    <td><form action={{path('load')}} method="POST">
    <input hidden name="id" id="id" value="{{ game.id }}">
    <input class="button" type="submit" value="Continue">
    </form></td>
</tr>
{% endfor %}
</table>


</table>
</div>
</article>
{% endblock %}
