{% extends "proj/projbase.html.twig" %}

{% block title %}Poker Squares 2000 - {{player.name}}'s page!{% endblock %}

{% block article %}
<article class="name-input"> 
<div class="start">
<h1>{{player.name}}'s page!</h1>
<h3>Balance: {{player.balance}}$</h3>
<h3>Games started: {{ games|length }}
<h2>Games</h2>

<table class="games">
<tr>
    <th>Id</th>
    <th>Bet</th>
    <th>Winnings</th>
    <th>Score</th>
    <th>Status</th>
    <th>Load</th>
</tr>

{% for game in games %}
<tr>
    <td>{{ game.id }}</td>
    <td>{{ game.bet }}</td>
    <td>{{ game.winnings }}</td>
    <td>{{ game.americanScore }}, {{ game.britishScore }}</td>
    {% if game.finished %}
    <td> Finished: {{ game.finished|date('Y-m-d') }} </td>
    {% else %}
    <td> Saved: {{ game.savedDate|date('Y-m-d') }} </td>
    {% endif %}
    <td><form action={{path('load')}} method="POST">
    <input hidden name="id" id="id" value="{{ game.id }}">
    <input class="button" type="submit" 
    {% if game.finished %} value="View" {% else %} value="Continue" {% endif %}>
    </form></td>
</tr>
{% endfor %}
</table>


</table>
</div>
</article>
{% endblock %}
