{% extends "proj/projbase.html.twig" %}

{% block title %}Poker Squares 2000{% endblock %}

{% block article %} 
<article class="game">
<div class="poker">
{% if game != null %}
    {% set rowIndex = 0 %}
    {% for row in game.mat.getHorizontalRows %}
        {% set column = 0 %}
            {% for card in row.getRow() %}
                {% if card == null %}
                <form method="POST" action="{{ path('projPlay') }}">
                    <input hidden value={{ rowIndex }} name='row'>
                    <input hidden value={{ column }} name='column'>
                    <input class="empty" type="image" src="{{ asset(game.nextCard.getImagePath()) }}">
                </form>
                {% else %}
                    <img src="{{ asset(card.getImagePath()) }}">
                {% endif %}
                {% set column = column + 1 %}
            {% endfor %}
            <h2 class="score-text">{{ row.getScore[0] }}, {{ row.getScore[1] }} </h2>
        {% set rowIndex = rowIndex + 1 %}
    {% endfor %}
    {% for row in game.mat.getVerticalRows %}
        <h2 class="score-text">{{ row.getScore[0] }}, {{ row.getScore[1] }} </h2>
    {% endfor %}
    <div class="score-text">
        <h3 class="total">Total:</h3><h2 class="total">{{ game.mat.getScore()[0] }}, {{ game.mat.getScore()[1] }}</h2>
    </div>
{% endif %}
</div>
<div class="buttons">
<form method="POST" action="{{ path('autofill') }}">
    <input class="button" type="submit" value="Autofill">
</form>
<form method="POST" action="{{ path('restart') }}">
    <input class="button" type="submit" value="Restart">
</form>
<!-- Här ska det in en if om mattan är full!!! !-->
<div class="next-div">
    <h3>Next card:</h3>
    <img class="next" src="{{ asset(game.nextCard.getImagePath()) }}">
</div>
</article>
{% endblock %}
