<!DOCTYPE html>
<html lang="sv">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="{{ asset('img/favicon.ico') }}">
        {% block javascripts %}
            {% block importmap %}{{ importmap('project') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        <header>
            <h1 class="title">Poker Squares!</h1>
            <nav>
                    <a class="button" href="{{ path('proj') }}">Play!</a>
                    <a class="button" href="{{ path('proj') }}">Highscores!</a>
            </nav>
    </header>
    <main>
        {% block article %}
        <article>
        {% block body %}
        {% endblock body %}
        </article>
        {% endblock article %}
    </main>
    <footer>
        <p> &copy; Challe_P Megaindustries Inc.</p>
        <a class="button" href="{{ path('musicplayer') }}" target="_blank">Some music?</a>    
    </footer>
    </body>
</html>