{% extends "base.html.twig" %}

{% block title %}Card{% endblock %}

{% block body %} 
<h1>Välkommen till kortspelsportalen!</h1>
<div class="game-buttons">
<a class="button" href="{{ path('deck') }}">Visa kortleken</a>
<a class="button" href="{{ path('shuffleDeck') }}">Blanda kortleken</a>
<a class="button" href="{{ path('draw') }}">Dra ett kort</a>
<form class="button draw-button" action="{{ path('drawAmountPost')}}" method="POST">
    <p class="button-text">Dra </p>
    <input class='number-input' type="number" name="amount" min="1" value="1">
    <input class='button-text' type="submit" value=" kort">
</form>
<form class="button draw-button deal-button" action="{{ path('dealPost')}}" method="POST">
    <p class="button-text">Dela ut </p>
    <input class='number-input' type="number" name="cards" min="1" value="1">
    <p class="button-text"> kort till </p>
    <input class='number-input' type="number" name="players" min="1" value="1">
    <input class='button-text' type="submit" value=" spelare">
</form>
</div>
{% endblock %}