{% extends 'base.html.twig' %}

{% block title %}Bibliotek{% endblock %}

{% block article %}
<article class="book">
<h1>{{ book.title }}</h1>
<p>Författare: {{ book.firstname }} {{ book.surname }}</p>
<p>ISBN: {{ book.isbn }}</p>
<div class="image-div">
    <img class="cover" src={{ asset(book.image) }}>
</div>

<div class="book-buttons">
    <a class="button" href="{{ path('app_library') }}">Gå tillbaka</a>
    <a class="button" href="{{ path('book_update_form', {'id': book.id }) }}">Redigera bok</a>
    <td>
    <form action="{{ path('book_delete') }}" method="POST">
        <input hidden value="{{ book.id }}" name="id">
        <button class="button" type="submit"><p class="button-text">Ta bort bok</p></button>
    </form>
</div>
</article>
{% endblock %}
